<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Profilo paziente</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item" *ngIf="role === 'DIRETTORE'"><a routerLink="/lista-pazienti">Pazienti in cura</a></li>
            <li class="breadcrumb-item" *ngIf="role !== 'DIRETTORE'"><a routerLink="/pazienti-in-cura">Pazienti in cura</a></li>
            <li class="breadcrumb-item active">Profilo paziente</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <ngb-alert class="alert-default-{{color}}" [dismissible]="false" *ngIf="message !== undefined">
        {{message}}
      </ngb-alert>
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <h3 class="profile-username text-center">{{patient.nome}} {{patient.cognome}}</h3>
              <p class="text-muted text-center" *ngIf="ricoverato">Ricoverato in {{patient.reparto}}</p>
              <p class="text-muted text-center" *ngIf="!ricoverato">Dimesso il {{formatDate(patient.orario_dimissioni)}}</p>
              <a href="valori-vitali/{{id}}" class="btn btn-info btn-block"><b>Registrazioni valori vitali</b></a>
              <a href="segnalazioni/{{id}}" class="btn btn-info btn-block"><b>Area segnalazioni</b></a>
              <a *ngIf="ricoverato && role!=='INFERMIERE'" (click)="quitPatient()" class="btn btn-danger btn-block"><b>Dimetti paziente</b></a>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card card-body">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
              <li [ngbNavItem]="1">
                <a ngbNavLink>Anagrafica</a>
                <ng-template ngbNavContent>
                  <form [formGroup]="profileForm">
                    <div class="row">
                      <div class="form-group col-lg-6">
                        <label for="nome">Nome</label>
                        <input id="nome" name="nome" type="text" class="form-control" formControlName="nome" required="required">
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="cognome">Cognome</label>
                        <input id="cognome" name="cognome" type="text" class="form-control" formControlName="cognome" required="required">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-lg-6">
                        <label for="data_nascita">Data di nascita</label>
                        <input id="data_nascita" name="data_nascita" type="date" class="form-control" formControlName="data_nascita" required="required">
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="luogo_nascita">Luogo di nascita</label>
                        <input id="luogo_nascita" name="luogo_nascita" type="text" class="form-control" formControlName="luogo_nascita" required="required">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-lg-4">
                        <label for="reparto">Reparto</label>
                        <input id="reparto" name="reparto" type="text" class="form-control" formControlName="reparto" required="required">
                      </div>
                      <div class="form-group col-lg-4">
                        <label for="orario_ricovero">Data arrivo in struttura</label>
                        <input id="orario_ricovero" name="orario_ricovero" type="date" class="form-control" formControlName="orario_ricovero" required="required">
                      </div>
                      <div class="form-group col-lg-4">
                        <label for="orario_dimissioni">Data dimissioni (se già decisa)</label>
                        <input id="orario_dimissioni" name="orario_dimissioni" type="date" class="form-control" formControlName="orario_dimissioni">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-lg-12">
                        <label for="motivo_ricovero">Motivo ricovero</label>
                        <input id="motivo_ricovero" name="motivo_ricovero" formControlName="motivo_ricovero" class="form-control" type="text" required="required"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-lg-12">
                        <label for="cartella_clinica">Cartella clinica</label>
                        <textarea id="cartella_clinica" name="cartella_clinica" formControlName="cartella_clinica" class="form-control" required="required"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12" *ngIf="role !== 'INFERMIERE'">
                        <button (click)="updatePatient()" class="btn btn-success float-right">Modifica anagrafica</button>
                        <button (click)="resetUpdate()" class="btn btn-danger">Annulla modifiche</button>
                      </div>
                    </div>
                  </form>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink>Farmaci</a>
                <ng-template ngbNavContent>
                  <table id="lista_farmaci" class="table table-bordered table-striped display nowrap">
                    <thead>
                    <tr>
                      <th>NOMINATIVO</th>
                      <th>TIPOLOGIA</th>
                      <th>CODICE</th>
                      <th>SOMMINISTRAZIONE</th>
                      <th>DATA INIZIO</th>
                      <th>DATA FINE</th>
                      <th>DOSI GIORNALIERE</th>
                      <th>AZIONI</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of prescriptions | paginate: {itemsPerPage: 5, currentPage: p1}">
                      <td>{{item.drug.nominativo}}</td>
                      <td>{{item.drug.tipologia}}</td>
                      <td>{{item.drug.codice}}</td>
                      <td>{{item.drug.somministrazione}}</td>
                      <td>{{formatDate(item.dataPrescription.data_inizio)}}</td>
                      <td>{{formatDate(item.dataPrescription.data_fine)}}</td>
                      <td>{{item.dataPrescription.dosi_giornaliere}} dosi</td>
                      <td>
                        <div class="btn-group btn-group-sm">
                          <a type="button" role="button" (click)="open('modalNotePrescription', item.dataPrescription._id, item.dataPrescription.note)" data-bs-toggle="modal" class="btn btn-info"><i class="fas fa-edit"></i></a>
                        </div>
                        <div class="btn-group btn-group-sm" *ngIf="role === 'INFERMIERE'">
                          <a type="button" href="somministrazione-farmaco/{{item.dataPrescription._id}}" class="btn btn-warning"><i class="fas fa-syringe"></i></a>
                        </div>
                        <div class="btn-group btn-group-sm" *ngIf="role === 'MEDICO'">
                          <a type="button" role="button" (click)="deletePrescription(item.drug._id)" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                    <pagination-controls (pageChange)="p1 = $event"></pagination-controls>
                  </table>
                  <div class="row" *ngIf="role === 'MEDICO'">
                    <div class="col-md-12">
                      <div class="card card-blue collapsed-card">
                        <div class="card-header">
                          <h3 class="card-title">Prescrivi nuovo farmaco</h3>
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                          </div>
                        </div>
                        <div class="card-body">
                          <ngb-alert class="alert-default-info" [dismissible]="false">
                            Se non trovi il farmaco, aggiungilo al sistema tramite <a href="/farmaci-registrati">questa pagina</a>
                          </ngb-alert>
                          <form [formGroup]="newPrescriptionForm">
                            <div class="row">
                              <div class="from-group col-6">
                                <label for="farmaco">Scegli il farmaco</label>
                                <select class="form-select" aria-label="Default select example" id="farmaco" name="farmaco" formControlName="farmaco">
                                  <option value="" disabled selected>Seleziona farmaco</option>
                                  <option *ngFor="let item of drugs" value="{{item._id}}">{{item.nominativo}} - {{item.somministrazione}}</option>
                                </select>
                              </div>
                              <div class="form-group col-6">
                                <label for="data_inizio">Data inizio somministrazione</label>
                                <input id="data_inizio" class="form-control" name="data_inizio" formControlName="data_inizio" type="date"/>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-6">
                                <label for="data_fine">Data fine somministrazione</label>
                                <input id="data_fine" name="data_fine" formControlName="data_fine" class="form-control" type="date" min="1"/>
                              </div>
                              <div class="form-group col-6">
                                <label for="dosi_giornaliere">Dosi giornaliere</label>
                                <input id="dosi_giornaliere" name="dosi_giornaliere" formControlName="dosi_giornaliere" class="form-control" type="number" min="1"/>
                              </div>
                            </div>
                            <div class="row">
                              <div class="from-group col-12">
                                <label for="note">Note eventuali</label>
                                <textarea id="note" name="note" formControlName="note" placeholder="Riportare eventuali note per infermieri e collaboratori" required="required" class="form-control"></textarea>
                              </div>
                            </div>
                            <br/>
                            <div class="row">
                              <div class="form-group col-12">
                                <button (click)="newPrescription()" type="submit" class="btn btn-success float-right">Prescrivi nuovo farmaco</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="3">
                <a ngbNavLink>Sala Operatoria</a>
                <ng-template ngbNavContent>
                  <table id="lista_operazioni" class="table table-bordered table-striped display nowrap">
                    <thead>
                    <tr>
                      <th>DATA E ORA</th>
                      <th>TITOLO</th>
                      <th>DURATA</th>
                      <th>STATO</th>
                      <th>LIVELLO ATTENZIONE</th>
                      <th>DETTAGLI</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of operations | paginate: {itemsPerPage: 5, currentPage: p2}">
                      <td>{{formatDateTime(item.data_ora)}}</td>
                      <td>{{item.titolo}}</td>
                      <td>{{item.durata}} ore</td>
                      <td>
                        <span *ngIf="!item.verbale || item.verbale === ''" class="badge badge-danger">NON VERBALIZZATO</span>
                        <span *ngIf="item.verbale && item.verbale !== ''" class="badge badge-success">VERBALIZZATO</span>
                        </td>
                      <td>
                        <span [ngSwitch]="item.rischio">
                          <span *ngSwitchCase="'ALTO'" class="badge badge-danger">{{item.rischio}}</span>
                          <span *ngSwitchCase="'MEDIO ALTO'" class="badge badge-danger">{{item.rischio}}</span>
                          <span *ngSwitchCase="'MEDIO'" class="badge badge-warning">{{item.rischio}}</span>
                          <span *ngSwitchCase="'MEDIO BASSO'" class="badge badge-warning">{{item.rischio}}</span>
                          <span *ngSwitchCase="'BASSO'" class="badge badge-info">{{item.rischio}}</span>
                        </span>
                      </td>
                      <td>
                        <div class="btn-group btn-group-sm">
                          <a type="button" href="dettagli-operazione/{{item._id}}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                        </div>
                        <div class="btn-group btn-group-sm">
                          <a type="button" (click)="deleteOperation(item._id)" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                    <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
                  </table>
                  <div class="row" *ngIf="role === 'MEDICO'">
                    <div class="col-12">
                      <a href="aggiungi-operazione" class="btn btn-success float-right">Registra nuova operazione</a>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="4">
                <a ngbNavLink>Equipe</a>
                <ng-template ngbNavContent>
                  <table id="lista_medici" class="table table-bordered table-striped display nowrap">
                    <thead>
                    <tr>
                      <th>NOME</th>
                      <th>COGNOME</th>
                      <th>EMAIL</th>
                      <th>DATA DI NASCITA</th>
                      <th>RUOLO</th>
                      <th *ngIf="role === 'DIRETTORE'">CANCELLA INCARICO</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of medic_assignments | paginate: {itemsPerPage: 5, currentPage: p3}">
                      <td>{{item.nome}}</td>
                      <td>{{item.cognome}}</td>
                      <td>{{item.email}}</td>
                      <td>{{formatDate(item.data_nascita)}}</td>
                      <td>{{item.ruolo}}</td>
                      <td *ngIf="role === 'DIRETTORE'">
                        <div class="btn-group btn-group-sm">
                          <button type="button" data-bs-target="#dettagli" (click)="deleteAssignment(item._id)" data-bs-toggle="modal" class="btn btn-danger">CANCELLA</button>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                    <pagination-controls (pageChange)="p3 = $event"></pagination-controls>
                  </table>
                  <form [formGroup]="newMedicAssignmentForm" *ngIf="role === 'DIRETTORE'">
                  <div class="row">
                    <div class="col-6">
                      <input id="email_nuovo_medico" name="email_nuovo_medico" type="email" formControlName="email_nuovo_medico" class="form-control" placeholder="Email dell'operatore da assegnare"  required="required"/>
                    </div>
                    <div class="col-6">
                    <button type="submit" class="btn btn-success float-right" (click)="newMedicAssignment()">Assegna un nuovo operatore</button>
                    </div>
                  </div>
                  </form>
                  <ngb-alert class="alert-default-info" [dismissible]="false" *ngIf="role !== 'DIRETTORE'">
                    Gli operatori incaricati vengono selezionati, e possono essere modificati, esclusivamente dal direttore ospedaliero.
                  </ngb-alert>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
