<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>FAQ</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">FAQ</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-12" id="accordion">
        <div class="card card-warning card-outline">
          <div class="card-header">
            <h4 class="card-title w-100">Come funziona iHospital?</h4>
          </div>
          <div id="collapseFive" class="collapse show" data-parent="#accordion">
            <div class="card-body">
              Progetto di Marco Chiavaroli – marco.chiavaroli@studio.unibo.it
              <br/>
              Descrizione del progetto:
              <br/>
              Si vuole realizzare un’applicazione web con scopo di monitorare i parametri dei pazienti durante un intervento chirurgico e controllare la somministrazione dei farmaci.
              <br/>
              L’applicazione avrà tre livelli di utenza:
              <br/>
              Direttore ospedaliero
              Medico
              Infermiere.
              Il Direttore ospedaliero si occuperà di assegnare medici ed infermieri ai pazienti in arrivo in struttura, in questo modo permetterà ai successivi due livelli di utenza di gestire i pazienti a loro assegnati.
              <br/>
              Il Medico potrà:
              <br/>
              Visitare la cartella clinica di un suo paziente.
              Prescrivere farmaci per un suo paziente.
              Fissare un intervento chirurgico per un suo paziente.
              Monitorare in real-time i parametri vitali di un suo paziente durante un intervento chirurgico (il sistema elaborerà i parametri del paziente ricevuti da un dispositivo medico connesso; operazione simulata).
              Dimettere un paziente dalla struttura ospedaliera.
              Segnalare informazioni sul paziente tramite una chat real-time.
              L’Infermiere potrà:
              <br/>
              Visitare la cartella clinica di un suo paziente.
              Somministrare farmaci precedentemente prescritti da un medico ad un suo paziente, e quindi segnare tale operazione sul sistema.
              Segnalare informazioni sul paziente tramite una chat real-time.
              Tecnologie usate:
              <br/>
              Per la realizzazione dell’applicazione verrà fatto uso dello stack MEAN.
              <br/>
              Per la comunicazione real-time/notifiche verrà usato Socket.IO.
              <br/>
              Eventuali altre tecnologie o funzionalità verranno segnalate in corso d’opera e nella relazione finale.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3 text-center">
        <p class="lead">
          <a href="#">Contatta</a>,
          il centro di supporto per eventuali problematiche<br>
        </p>
      </div>
    </div>
  </section>
</div>
