<div class="wrapper">
  <!-- navbar -->
  <nav class="main-header navbar navbar-expand-sm navbar-light navbar-white">
    <div class="container">
      <div class="collapse navbar-collapse order-3" [class.collapse]="collapsed" id="navbarContent">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="checkUser()"><a routerLink="" class="nav-link">Dashboard</a></li>
          <li class="nav-item" *ngIf="!checkUser()"><a routerLink="registrati" class="nav-link">Registrati</a></li>
          <li class="nav-item" *ngIf="!checkUser()"><a routerLink="login" class="nav-link">Login</a></li>
          <li class="nav-item" ngbDropdown *ngIf="checkUser() === 'DIRETTORE'">
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown0" role="button">Medici e infermieri</a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown0" class="dropdown-menu">
              <a ngbDropdownItem routerLink="lista-medici">Medici in struttura</a>
              <a ngbDropdownItem routerLink="lista-infermieri">Infermieri in struttura</a>
            </div>
          </li>
          <li class="nav-item" ngbDropdown *ngIf="checkUser() === 'DIRETTORE'">
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">Lista pazienti</a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
              <a ngbDropdownItem routerLink="aggiungi-paziente">Nuovo paziente</a>
              <a ngbDropdownItem routerLink="lista-pazienti" >Profili ricoverati</a>
              <a ngbDropdownItem routerLink="lista-dimessi">Profili dimessi</a>
      </div>
          </li>
          <li class="nav-item" ngbDropdown *ngIf="checkUser() === 'MEDICO' || checkUser() === 'INFERMIERE'">
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">Pazienti assegnati</a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu">
              <a ngbDropdownItem routerLink="pazienti-in-cura" >Profili ricoverati</a>
              <a ngbDropdownItem routerLink="pazienti-dimessi">Profili dimessi</a>
            </div>
          </li>
          <li class="nav-item" ngbDropdown *ngIf="checkUser() === 'MEDICO' || checkUser() === 'DIRETTORE'">
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">Farmacia</a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
              <a ngbDropdownItem routerLink="aggiungi-farmaco">Aggiungi farmaco</a>
              <a ngbDropdownItem routerLink="farmaci-registrati" >Farmaci registrati</a>
            </div>
          </li>
          <li class="nav-item" ngbDropdown *ngIf="checkUser() === 'MEDICO'">
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown4" role="button">Sala operatoria</a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown4" class="dropdown-menu">
              <a ngbDropdownItem routerLink="calendario-operazioni">Calendario operazioni</a>
              <a ngbDropdownItem routerLink="aggiungi-operazione">Aggiungi operazione</a>
            </div>
          </li>
          <li class="nav-item" *ngIf="checkUser() === 'INFERMIERE'"><a routerLink="calendario-operazioni" class="nav-link">Calendario operazioni</a></li>
          <li class="nav-item" *ngIf="checkUser()"><a routerLink="FAQ" class="nav-link">FAQ</a></li>
          <li class="nav-item" *ngIf="checkUser() === 'MEDICO' || checkUser() === 'INFERMIERE'"><a routerLink="contatti" class="nav-link">Contatta</a></li>
          <li class="nav-item" *ngIf="checkUser() === 'DIRETTORE'"><a routerLink="feedback-ricevuti" class="nav-link">Feedback ricevuti</a></li>
        </ul>
      </div>
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto" *ngIf="checkUser()">
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a role="button" type="button" class="nav-link" href="area-riservata">
              <i class="fas fa-user"></i>
            </a>
          </li>
          <li class="nav-item">
            <a role="button" type="button" class="nav-link" (click)="open('modalLogout')">
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </li>
        </ul>
      </ul>
    </div>
  </nav>
  <!-- Content Wrapper. Contains page content -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Realizzato da Marco Chiavaroli</b>
    </div>
    <strong>Progetto di esame <a target="_blank" href="https://www.unibo.it/it/didattica/insegnamenti/insegnamento/2021/412604">ASW 2021-2022</a>.</strong>
  </footer>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark"></aside>
</div>

