<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Analisi di {{patient.nome}} {{patient.cognome}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item"><a href="profilo-paziente/{{idPatient}}">{{patient.nome}} {{patient.cognome}}</a></li>
            <li class="breadcrumb-item active">Registrazioni valori vitali</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <ngb-alert class="alert-default-danger" [dismissible]="false" *ngIf="message !== undefined">
        {{message}}
      </ngb-alert>
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <h3 class="profile-username text-center">{{patient.nome}} {{patient.cognome}}</h3>
              <p class="text-muted text-center" *ngIf="ricoverato">Ricoverato in {{patient.reparto}}</p>
              <p class="text-muted text-center" *ngIf="!ricoverato">Report analisi effettuate</p>
              <a href="profilo-paziente/{{patient._id}}" class="btn btn-info btn-block"><b>Visualizzo profilo</b></a>
              <a href="segnalazioni/{{patient._id}}" class="btn btn-info btn-block"><b>Area segnalazioni</b></a>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-9">
          <div class="card card-body">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
              <li [ngbNavItem]="1">
                <a ngbNavLink>Registrazioni valori vitali</a>
                <ng-template ngbNavContent>
                  <ngb-alert class="alert-default-danger" [dismissible]="false" *ngIf="vitalValues.length === 0">
                    Nessuna registrazione presente, <a (click)="switchPage()"> <b>carica</b></a> i primi valori del paziente.
                  </ngb-alert>
                  <div class="timeline" *ngFor="let item of vitalValues">
                    <div class="time-label">
                      <span class="bg-blue">{{formatDate(item.data.orario_visita)}}</span>
                    </div>
                    <div>
                      <i class="fas fa-envelope bg-blue"></i>
                      <div class="timeline-item">
                        <span class="time"><i class="fas fa-clock"></i> {{formatTime(item.data.orario_visita)}}</span>
                        <h3 class="timeline-header">Dati inseriti da {{item.oper.nome}} {{item.oper.cognome}}</h3>
                        <div class="timeline-body">
                          <span class="badge bg-red">FREQUENZA CARDIACA </span><b> {{item.data.hr}}</b><i> bpm</i><br/>
                          <span class="badge bg-blue">PRESSIONE MINIMA </span><b> {{item.data.press_min}}</b><i> mmHg</i><br/>
                          <span class="badge bg-warning">PRESSIONE MASSIMA </span><b> {{item.data.press_max}}</b><i> mmHg</i><br/>
                          <span class="badge bg-green">FREQUENZA RESPIRATORIA </span><b> {{item.data.freq_respriratoria}}</b><i> rpm</i><br/>
                          <span class="badge bg-fuchsia">SATURAZIONE </span><b> {{item.data.saturazione}}</b><i> %</i><br/>
                          <span class="badge bg-orange">LIVELLO DOLORE </span><b> {{item.data.livello_dolore}}</b><i> su 10</i>
                        </div>
                        <div class="timeline-footer" *ngIf="myId === item.oper._id">
                          <a (click)="deleteValue(item.data._id)" class="btn btn-danger btn-sm">Elimina registrazione</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink>Aggiungi nuova registrazione</a>
                <ng-template ngbNavContent>
                  <!-- Form di aggiunta nuova registrazione -->
                  <form [formGroup]="newValueForm">
                    <div class="row">
                      <div class="from-group col-4">
                        <label for="hr">Frequenza cardiaca</label>
                        <input id="hr" class="form-control" name="hr" formControlName="hr" type="number"/>
                      </div>
                      <div class="form-group col-4">
                        <label for="press_min">Pressione minima</label>
                        <input id="press_min" class="form-control" name="press_min" formControlName="press_min" type="number"/>
                      </div>
                      <div class="form-group col-4">
                        <label for="press_max">Pressione massima</label>
                        <input id="press_max" class="form-control" name="press_max" formControlName="press_max" type="number"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="from-group col-4">
                        <label for="saturazione">Livello di saturazione</label>
                        <input id="saturazione" class="form-control" name="saturazione" formControlName="saturazione" type="number"/>
                      </div>
                      <div class="form-group col-4">
                        <label for="freq_respriratoria">Frequenza respiratoria</label>
                        <input id="freq_respriratoria" class="form-control" name="freq_respriratoria" formControlName="freq_respriratoria" type="number"/>
                      </div>
                      <div class="form-group col-4">
                        <label for="livello_dolore">Livello di dolore</label>
                        <input id="livello_dolore" class="form-control" name="livello_dolore" formControlName="livello_dolore" type="number"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-12">
                        <button (click)="newValue()" type="submit" class="btn btn-success float-right">Aggiungi registrazione</button>
                      </div>
                    </div>
                  </form>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
