<div class="content-wrapper">
  <section class="content">
    <br/>
    <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{blocks[0].value}}</h3>
              <h4><b>{{blocks[0].title}}</b></h4>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a routerLink="{{blocks[0].link}}" class="small-box-footer">Più info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{blocks[1].value}}</h3>
              <h4><b>{{blocks[1].title}}</b></h4>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a routerLink="{{blocks[1].link}}" class="small-box-footer">Più info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{blocks[2].value}}</h3>
              <h4><b>{{blocks[2].title}}</b></h4>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a routerLink="{{blocks[2].link}}" class="small-box-footer">Più info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{blocks[3].value}}</h3>
              <h4><b>{{blocks[3].title}}</b></h4>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a routerLink="{{blocks[3].link}}" class="small-box-footer">Più info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
          <div class="card card-warning card-outline">
            <div class="card-header">
              <h4 class="card-title w-100">Benvenuto {{user.nome}} {{user.cognome}}</h4>
            </div>
            <div id="collapseFive" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                <h5>Sei loggato con il ruolo di <b>{{user.ruolo}}</b></h5>
                <br/>
                {{text}}
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
</div>
