<div class="row">
    <div class="col-lg-8">
        <div #chart></div>
    </div>
    <div class="col-lg-4">
        <br/>
        <span class="badge bg-info">ORA ATTUALE </span><b> {{time}}</b>
        <hr/>
        <span class="badge bg-danger">BPM </span><b> {{hr}}</b><br/>
        <span class="badge bg-green">FREQ. RESP. </span><b> {{freq_resp}}</b>
        <hr/>
        <span class="badge bg-blue">PRESS. MIN </span><b> {{press_min}}</b><br/>
        <span class="badge bg-fuchsia">PRESS. MAX </span><b> {{press_max}}</b>
    </div>
</div>