<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
          <div class="login-box">
            <div class="card">
              <div class="card-body login-card-body">
                <h3 class="login-box-msg">Sign in</h3>
                <ngb-alert class="alert-default-danger" [dismissible]="false" *ngIf="message !== undefined">
                  {{message}}
                </ngb-alert>
                <form [formGroup]="loginForm">
                  <div class="input-group mb-3">
                    <input type="email" class="form-control" formControlName="email" placeholder="Email">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                      <button (click)="login()" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <!-- /.col -->
                  </div>
                </form>

                <p class="mb-1">
                  <a href="forgot-password.html">Password dimenticata?</a>
                </p>
                <p class="mb-0">
                  <a href="registrati" class="text-center">Non hai un account?</a>
                </p>
              </div>
              <!-- /.login-card-body -->
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
