<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Segnalazioni {{patient.nome}} {{patient.cognome}}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="profilo-paziente/{{id}}">{{patient.nome}} {{patient.cognome}}</a></li>
                        <li class="breadcrumb-item active">Profilo paziente</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <h3 class="profile-username text-center">{{patient.nome}} {{patient.cognome}}</h3>
                        <p class="text-muted text-center">Live chat</p>
                        <a href="profilo-paziente/{{id}}" class="btn btn-info btn-block"><b>Visualizza profilo</b></a>
                        <a href="valori-vitali/{{id}}" class="btn btn-info btn-block"><b>Registrazioni valori vitali</b></a>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-9">
                <div class="card direct-chat direct-chat-primary">
                    <!-- Body -->
                    <div id="bodyId" class="card-body">
                        <div class="direct-chat-messages" style="height: 100%">
                            <!-- Messaggio inviato -->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-right">Dott. Mario Rossi</span>
                                    <span class="direct-chat-timestamp float-left">10/05/2022 15:09</span>
                                </div>
                                <img class="direct-chat-img" src="../../dist/img/user2-160x160.jpg" alt="message user image">
                                <div class="direct-chat-text">
                                    Operazioni conclusa con successo.
                                </div>
                            </div>
                            <!-- Messaggio ricevuto -->
                            <div class="direct-chat-msg">
                                <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-left">Dott.ssa Claudia Somma</span>
                                    <span class="direct-chat-timestamp float-right">10/05/2022 18:54</span>
                                </div>
                                <img class="direct-chat-img" src="../../dist/img/user6-128x128.jpg" alt="message user image">
                                <!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    Perfetto, continuiamo a controllare i valori vitali.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer -->
                    <div class="card-footer">
                        <form action="#" method="post">
                            <div class="input-group">
                                <textarea name="testo" rows="1" placeholder="Scrivi un messaggio..." required="required" class="form-control"></textarea>
                                <span class="input-group-append">
                                <button type="submit" class="btn btn-primary">Invia</button>
                            </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
